<p>search works!</p>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(assets/img/bg-img/breadcumb.jpg);" style="margin-top: 60px;background: #268673;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Tìm kiếm</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Loại sản phẩm</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <ng-container *ngFor="let mn of menus">
                                    <li data-toggle="collapse" data-target="#clothing"  *ngIf="mn.children !=null">
                                        <ul class="sub-menu collapse show" id="clothing">
                                        <ng-container *ngFor="let m of mn.children">
                                            <li><a [routerLink] = "['/product/list',m.item_group_id]" style="border-bottom: 1px solid #e0a80aa1;padding-bottom: 15px;color: black;font-size: 18px;">{{m.item_group_name}}</a></li>
                                        </ng-container>
                                        </ul>
                                    </li>
                                </ng-container>
                                </ul>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget price mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Filter by</h6>
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Price</p>

                            <div class="widget-desc">
                                <div class="slider-range">
                                    <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div class="range-price">Range: $49.00 - $360.00</div>
                                </div>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Color</p>
                            <div class="widget-desc">
                                <ul class="d-flex" id="sortByselect" name="orderby" [(ngModel)]="pageSize" (ngModelChange)="loadPage(1)" style="border: 1px solid #1d1a1a38;width: 50px;">
                                    <li><a value="color1" class="color1"></a></li>
                                    <li><a href="#" class="color2"></a></li>
                                    <li><a value="color3" class="color3"></a></li>
                                    <li><a href="#" class="color4"></a></li>
                                    <li><a href="#" class="color5"></a></li>
                                    <li><a href="#" class="color6"></a></li>
                                    <li><a href="#" class="color7"></a></li>
                                    <li><a href="#" class="color8"></a></li>
                                    <li><a href="#" class="color9"></a></li>
                                    <li><a href="#" class="color10"></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Brands</p>
                            <div class="widget-desc">
                                <ul>
                                    <li><a href="#">Asos</a></li>
                                    <li><a href="#">Mango</a></li>
                                    <li><a href="#">River Island</a></li>
                                    <li><a href="#">Topshop</a></li>
                                    <li><a href="#">Zara</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{totalItems}}</span> Sản phẩm</p>
                                    </div>
                                     <!-- Sorting -->
                                     <div class="product-sorting d-flex">
                                        <p>Sap xep:</p>
                                        <!-- <form [formGroup]="" method="get"> -->
                                            <select id="sortByselect" name="orderby" [(ngModel)]="pageSize" (ngModelChange)="loadPage(1)" style="border: 1px solid #1d1a1a38;                                     width: 50px;">
                                                <!-- <option selected value="{{items.item_price}}"></option> -->
                                                <option selected value="5">5</option>
                                                <option selected value="20">20</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        <!-- </form> -->
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <p>Chọn số sản phẩm:</p>
                                        <!-- <form [formGroup]="" method="get"> -->
                                            <select id="sortByselect" name="orderby" [(ngModel)]="pageSize" (ngModelChange)="loadPage(1)" style="border: 1px solid #1d1a1a38;                                     width: 50px;">
                                                <option selected value="3">3</option>
                                                <option selected value="5">5</option>
                                                <option selected value="20">20</option>
                                            </select>
                                        <!-- </form> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <!-- Single Product -->

                            <ng-container *ngFor="let it of list">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                   
                                    <div class="product-img">
                                        <img src="{{it.item_image}}" alt="" style="height:300px;width:255px">                                   
                                        
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                   
                                    <div class="product-description">
                                        <a href="single-product-details.html" style="text-decoration: none;">
                                            <h6><a [routerLink]="['/product/chitiet',it.item_id]" style="color: #222222; font-weight: bold;text-decoration: none;">{{it.item_name}}</a></h6>
                                        </a>
                                        <p class="product-price">{{it.item_price}}</p>

                                        
                                        <div class="hover-content" style="background: #0315ff;">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn essence-btn" style="color: white;padding-top: 14px;" (click)="addToCart(it)" title="Add to cart">Thêm giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->