 <!-- ##### Single Product Details Area Start ##### -->
 <section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix" >
        <div class="product_thumbnail_slides owl-carousel">
            <img src="{{item.item_image}}" alt="">
            <img src="{{item.item_image}}" alt="">
            <img src="{{item.item_image}}" alt="">
        </div>
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>Jewel</span>
        <a href="cart.html">
            <h2>{{item.item_name}}</h2>
        </a>
        <p class="product-price">{{ item.item_price.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</p>
     
   <p class="product-desc">Chất liệu : {{item.item_material}}</p>
        <!-- Form -->
        <form [formGroup]=""class="cart-form clearfix" method="post">
            <!-- Select Box -->
            <div class="select-box d-flex mt-50 mb-30">
                <div name="select" id="productSize" class="mr-5">
                    <p>Chiều rộng : {{item.item_width}}</p>
                    <p>Chiều cao : {{item.item_height}}</p>
                    <p>Chiều sâu : {{item.item_depth}}</p>
                </div>

                <div name="select" id="productColor">
                    Màu sắc : {{item.item_color}}
                </div>
            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" name="addtocart" value="5" class="btn essence-btn" style="background: blue;color: white;" (click)="addToCart(item)">Thêm giỏ hàng</button>
                <!-- Favourite -->
                <div class="product-favourite ml-4">
                    <a href="#" class="favme fa fa-heart"></a>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Sản phẩm cùng loại</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="popular-products-slides owl-carousel">
            <ng-container *ngFor="let it of list_item_same_type">        
            <!-- Single Product -->
            <div class="single-product-wrapper">
              <!-- Product Image -->
              <div class="product-img">
                <img src="{{it.item_image}}" alt="" style="width:255;height:300px">
                <!-- Favourite -->
                <div class="product-favourite">
                  <a href="#" class="favme fa fa-heart"></a>
                </div>
              </div>
              <!-- Product Description -->
              <div class="product-description">
                <a [routerLink]="['/product/chitiet',it.item_id]" style="color: #222222; font-weight: bold;text-decoration: none;">{{it.item_name}}</a>
                <p class="product-price">{{ it.item_price.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</p>
                <!-- Hover Content -->
                <div class="hover-content"  style="background: #0315ff;">
                  <!-- Add to Cart -->
                  <div class="add-to-cart-btn">
                    <a (click)="addToCart(it)" title="Add to cart" class="btn essence-btn" style="color: white;padding-top: 14px;">Thêm giỏ hàng</a>               
                  </div>
                </div>
              </div>
            </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### New Arrivals Area End ##### -->